@font-face {
  font-family: "iconfont"; /* Project id 2364516 */
  src: url('iconfont.woff2?t=1621658593225') format('woff2'),
       url('iconfont.woff?t=1621658593225') format('woff'),
       url('iconfont.ttf?t=1621658593225') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cha:before {
  content: "\e615";
}

.icon-lajixiang:before {
  content: "\e603";
}

.icon-fenxiang:before {
  content: "\e61f";
}

.icon-gengduo:before {
  content: "\e7ce";
}

.icon-fengche:before {
  content: "\e625";
}

.icon-ziyuan:before {
  content: "\e60e";
}

.icon-fire:before {
  content: "\eb51";
}

.icon-phone:before {
  content: "\e6ad";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-xiasanjiao:before {
  content: "\e63f";
}

.icon-right-arrow:before {
  content: "\e629";
}

.icon-camera:before {
  content: "\e67f";
}

.icon-previewleft:before {
  content: "\e75b";
}

.icon-previewright:before {
  content: "\e75c";
}

.icon-location:before {
  content: "\e640";
}

.icon-shoppingcart:before {
  content: "\e611";
}

.icon-search:before {
  content: "\e946";
}

.icon-icon_arrowdown:before {
  content: "\e604";
}

